---
import { getI18N } from "../i18n/index.ts";

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale  });

const BADGE_ELEMENTS = [
       {
              title: i18n.BADGES.BADGE_WORKING,
       },
       {
              title: i18n.BADGES.BADGE_LINKEDIN,
              url: "https://www.linkedin.com/in/fran-garcia-teleco-umh",
       },
       {
              title: i18n.BADGES.BADGE_GITHUB,
              url: "https://github.com/FranGarciaLopez",
       },
       {
              title: i18n.BADGES.BADGE_WHATSAPP,
              url: "https://wa.me/34662490512",
       },
       {
              title: i18n.BADGES.BADGE_EMAIL,
              url: "mailto:frangalo34@gmail.com",
       },
];
---

<span class="flex space-x-2 py-5">
       {
              BADGE_ELEMENTS.map(({ title, url }) => (
                     <a
                            class="flex justify-center items-center"
                            href={url}
                            target="_blank"
                            rel="noopener"
                            referrerpolicy="no-referrer"
                     >
                            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                                   {title}
                            </span>
                     </a>
              ))
       }
</span>
