---
import ExperienceItem from "./ExperienceItem.astro";

import { getI18N } from "../i18n/index.ts";

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale  });

const EXPERIENCE = [
       {
              id: i18n.EXPERIENCE_ITEMS[0].id,
              title:  i18n.EXPERIENCE_ITEMS[0].title,
              company: i18n.EXPERIENCE_ITEMS[0].company,
              location: i18n.EXPERIENCE_ITEMS[0].location,
              date: i18n.EXPERIENCE_ITEMS[0].date,
              description:
                     i18n.EXPERIENCE_ITEMS[0].description,
              link: i18n.EXPERIENCE_ITEMS[0].link,
              
              
       },
       {
              id: i18n.EXPERIENCE_ITEMS[1].id,
              title:  i18n.EXPERIENCE_ITEMS[1].title,
              company: i18n.EXPERIENCE_ITEMS[1].company,
              location: i18n.EXPERIENCE_ITEMS[1].location,
              date: i18n.EXPERIENCE_ITEMS[1].date,
              description:
                     i18n.EXPERIENCE_ITEMS[1].description,
              link: i18n.EXPERIENCE_ITEMS[1].link,
       },
       {
              id: i18n.EXPERIENCE_ITEMS[2].id,
              title:  i18n.EXPERIENCE_ITEMS[2].title,
              company: i18n.EXPERIENCE_ITEMS[2].company,
              location: i18n.EXPERIENCE_ITEMS[2].location,
              date: i18n.EXPERIENCE_ITEMS[2].date,
              description:
                     i18n.EXPERIENCE_ITEMS[2].description,
              link: i18n.EXPERIENCE_ITEMS[2].link,
       },
       {
              id: i18n.EXPERIENCE_ITEMS[3].id,
              title:  i18n.EXPERIENCE_ITEMS[3].title,
              company: i18n.EXPERIENCE_ITEMS[3].company,
              location: i18n.EXPERIENCE_ITEMS[3].location,
              date: i18n.EXPERIENCE_ITEMS[3].date,
              description:
                     i18n.EXPERIENCE_ITEMS[3].description,
              link: i18n.EXPERIENCE_ITEMS[3].link,           
       },
];
---

<div
       class="ml-3 mb-4 bg-linear-to-r from-[#846c4a] to-[#6b5841] rounded-xl flex flex-col justify-start items-start lg:max-w-[1400px]"
>
       <ol class="relative border-s">
              {
                     EXPERIENCE.map((experience) => (
                            <li class="relative mb-6 sm:mb-0 reveal-animation">
                                   <ExperienceItem {...experience} />
                            </li>
                     ))
              }
       </ol>
</div>
