<header class="flex justify-center p-4 py-5 w-full xl:w-[1120px]">
       <nav
              class="flex flex-row flex-wrap justify-center lg:justify-end gap-x-4 lg:gap-x-10"
       >
              <a href="/" class="mb-2 nav-link">Inicio</a>
              <a href="#experiencia" class="mb-2 nav-link">Experiencia</a>
              <a href="#sobre-mi" class="mb-2 nav-link">Sobre mi</a>
              <a href="#contacto" class="mb-2 nav-link">Contacto</a>
       </nav>
</header>
